doctype html
html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Magicode')

        title Falcon

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
        
        // Core theme CSS (includes Bootstrap)
        link(href='stylesheets/styles.css', rel='stylesheet')

    body

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='index.html') Falcon
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='index.html') Home
                        li.nav-item
                            a.nav-link(href='about.html') About Us
                        //- li.nav-item
                        //-     a.nav-link(href='services.html') Services
                        //- li.nav-item
                        //-     a.nav-link(href='contact.html') Contact us
                        li.nav-item.dropdown
                            a#navbarDropdownPortfolio.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Products
                            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownPortfolio')
                                //- a.dropdown-item(href='portfolio-1-col.html') Person Tent
                                //- a.dropdown-item(href='portfolio-2-col.html') Sleeping Bag
                                //- a.dropdown-item(href='portfolio-3-col.html') Camping Lantern
                                //- a.dropdown-item(href='portfolio-4-col.html') 4 Column Portfolio
                                //- a.dropdown-item(href='portfolio-item.html') Single Portfolio Item
                                a.dropdown-item(href='portfolio-tent.html') Person Tents
                                a.dropdown-item(href='portfolio-sleeping-bag.html') Sleeping Bag
                                a.dropdown-item(href='portfolio-camping-lantern.html') Camping Lantern
                        //- li.nav-item
                            //- a.nav-link(href='pricing.html') Download
                            //- a.nav-link(href='working.html') Download
                        //- li.nav-item
                            //- a.nav-link(href='services.html') Service
                            //- a.nav-link(href='working.html') Service
                        li.nav-item
                            a.nav-link(href='contact.html') Contacts
                        //- li.nav-item.dropdown
                        //-     a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        //-         | Blog
                        //-     .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
                        //-         a.dropdown-item(href='blog-home-1.html') Blog Home 1
                        //-         a.dropdown-item(href='blog-home-2.html') Blog Home 2
                        //-         a.dropdown-item(href='blog-post.html') Blog Post
                        //- li.nav-item.dropdown
                        //-     a#navbarDropdownPages.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        //-         | Other Pages
                        //-     .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownPages')
                        //-         a.dropdown-item(href='full-width.html') Full Width Page
                        //-         a.dropdown-item(href='sidebar.html') Sidebar Page
                        //-         a.dropdown-item(href='faq.html') FAQ
                        //-         a.dropdown-item(href='404.html') 404
                        //-         a.dropdown-item(href='pricing.html') Pricing Table
        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

