doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        include includes/navbar.pug

        // Page Content
        section.py-5
            .container

                // Page Heading/Breadcrumbs
                h1
                    | About Falcon
                ol.breadcrumb.mb-4
                    li.breadcrumb-item
                        a(href='index.html') Home
                    li.breadcrumb-item.active About

                // Intro Content
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid.rounded.mb-4(src='assets/img/about/company-building.jpg', alt='...')
                    .col-lg-6
                        //- h2 About Modern Business
                        p 
                        | Shenzhen Falcon technology Co.,ltd is a factory mainly engages in designing, developing and producing camping products such as Camping Tents, Sleeping Pads, Sleeping Bags, also we have cooperation factory for Solar panels and so on. Exported to United States. Europe, Oceania, South America, Middle East, Southeast Asia and so on. 
                        p
                    
                            li 6 years professional experience in manufacturing and exporting.
                            
                            li With technicians specialize in camping products more than 20 year
    
                            li OEM, ODM accepted. 

                            li 100% Strict Quality Control, with own inspecting room.

                            li Fast & Cheap Delivery: We have big discount from forwarder (Long Contract) because we delivery everyday.

                            li Good Service: 24 hour hot line, service more swiftly.
                        
        hr.my-0

        // Team Members Section
        section.py-5.bg-light
            .container
                h2.mb-4 Our Products
                .row
                    .col-lg-4.mb-4.mb-lg-0
                        .card.h-100.text-center
                            img.card-img-top(src='assets/img/product/tent.jpg', alt='...')
                            .card-body
                                h4.card-title Person Tent
                                h6.card-subtitle.mb-2.text-muted
                                p.card-text
                                    | His lightweight two-person dome tent with a large D-style door has enough space for you and a friend.
                            .card-footer
                                a(href='portfolio-tent.html') Details
                    .col-lg-4.mb-4.mb-lg-0
                        .card.h-100.text-center
                            img.card-img-top(src='assets/img/product/sleeping_bag.jpg', alt='...')
                            .card-body
                                h4.card-title Sleeping Bag
                                h6.card-subtitle.mb-2.text-muted
                                p.card-text
                                    | Our bag is more comfortable than the competition due to more padding and cushioning inside to make sure you are well rested and fully re-energized.
                            .card-footer
                                a(href='portfolio-sleeping-bag.html') Details
                    .col-lg-4
                        .card.h-100.text-center
                            img.card-img-top(src='assets/img/product/camping_lantern.jpg', alt='...')
                            .card-body
                                h4.card-title Camping Lantern
                                h6.card-subtitle.mb-2.text-muted
                                p.card-text
                                    | High quality plastic shell, glass top, stainless steel hand shanks, shockproof and durable. Put the lamp in the sun, it will be charged, 3 hours lighting once fully charged.
                            .card-footer
                                a(href='portfolio-camping-lantern.html') Details

        hr.my-0

        // Our Customers Section
        //- section.py-5
        //-     .container
        //-         h2.mb-4 Our Customers
        //-         .row
        //-             .col-lg-2.col-sm-4.mb-4.mb-lg-0
        //-                 img.img-fluid(src='https://via.placeholder.com/500x300', alt='...')
        //-             .col-lg-2.col-sm-4.mb-4.mb-lg-0
        //-                 img.img-fluid(src='https://via.placeholder.com/500x300', alt='...')
        //-             .col-lg-2.col-sm-4.mb-4.mb-lg-0
        //-                 img.img-fluid(src='https://via.placeholder.com/500x300', alt='...')
        //-             .col-lg-2.col-sm-4.mb-4.mb-sm-0
        //-                 img.img-fluid(src='https://via.placeholder.com/500x300', alt='...')
        //-             .col-lg-2.col-sm-4.mb-4.mb-sm-0
        //-                 img.img-fluid(src='https://via.placeholder.com/500x300', alt='...')
        //-             .col-lg-2.col-sm-4
        //-                 img.img-fluid(src='https://via.placeholder.com/500x300', alt='...')

        // Footer
        include includes/footer.pug

        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Falcon 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js", integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js", integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1", crossorigin="anonymous")
        
        // Core theme JS
        script(src='js/scripts.js')

