doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Magicode')

        title Falcon

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        include includes/navbar.pug

        // Page header carousel
        header
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/img/banner/01.jpg', alt='...')
                        .carousel-caption.d-none.d-md-block
                            h3 
                            p 
                    .carousel-item
                        img.d-block.w-100(src='assets/img/banner/02.jpg', alt='...')
                        .carousel-caption.d-none.d-md-block
                            h3 
                            p 
                    .carousel-item
                        img.d-block.w-100(src='assets/img/banner/03.jpg', alt='...')
                        .carousel-caption.d-none.d-md-block
                            h3 
                            p  
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

        // Page Content
        //- section.py-5
        //-     .container
        //-         h1.mb-4 Welcome to Modern Business

        //-         // Marketing Icons Section
        //-         .row
        //-             .col-lg-4.mb-4.mb-lg-0
        //-                 .card.h-100
        //-                     h4.card-header Card Title
        //-                     .card-body
        //-                         p.card-text
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
        //-                     .card-footer
        //-                         a.btn.btn-primary(href='#!') Learn More
        //-             .col-lg-4.mb-4.mb-lg-0
        //-                 .card.h-100
        //-                     h4.card-header Card Title
        //-                     .card-body
        //-                         p.card-text
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
        //-                     .card-footer
        //-                         a.btn.btn-primary(href='#!') Learn More
        //-             .col-lg-4
        //-                 .card.h-100
        //-                     h4.card-header Card Title
        //-                     .card-body
        //-                         p.card-text
        //-                             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
        //-                     .card-footer
        //-                         a.btn.btn-primary(href='#!') Learn More

        //- hr.my-0

        // Portfolio Section
        section.py-5.bg-light
            .container
                h2.mb-4 Products
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .card.h-100
                            a(href='portfolio-tent.html')
                                img.card-img-top(src='assets/img/product/tent.jpg', alt='...')
                            .card-body
                                h4.card-title
                                    a(href='#!') Person Tent
                                p.card-text
                                    | His lightweight two-person dome tent with a large D-style door has enough space for you and a friend.
                    .col-lg-4.col-sm-6.mb-4
                        .card.h-100
                            a(href='portfolio-sleeping-bag.html')
                                img.card-img-top(src='assets/img/product/sleeping_bag.jpg', alt='...')
                            .card-body
                                h4.card-title
                                    a(href='#!') Sleeping Bag
                                p.card-text
                                    | Our bag is more comfortable than the competition due to more padding and cushioning inside to make sure you are well rested and fully re-energized.
                    .col-lg-4.col-sm-6.mb-4
                        .card.h-100
                            a(href='portfolio-camping-lantern.html')
                                img.card-img-top(src='assets/img/product/camping_lantern.jpg', alt='...')
                            .card-body
                                h4.card-title
                                    a(href='#!') Camping Lantern
                                p.card-text
                                    | High quality plastic shell, glass top, stainless steel hand shanks, shockproof and durable. Put the lamp in the sun, it will be charged, 3 hours lighting once fully charged.
                    
        hr.my-0

        // Features Section
        section.py-5
            .container
                .row.align-items-center
                    .col-lg-6
                        h2.mb-4 About Us
                        p 
                        | Shenzhen Falcon Technology Co., Ltd. was founded in 2005. We are a hi-tech company engaged in the R&D, production and distribution of proprietary intellectual property products, such as digital products, entertainment products and consumer electronic products. With a focus on innovation, quality, one-stop services and social responsibility, we have become a reliable OEM/ODM partner. 
                        p
                        | Innovation is one of the reasons why we stand out in the competition. Thanks to our talented engineers and continual investment in R&D, we manage all processes in our 5,000-square-meter facilities according to ISO9001:2008 and IS14001:2009 certificates. Our goods bear CE, FCC and RoHS mtransition name="fade"arks. 
                        p
                        | We carry out all of our process in-house for quality consistency and low costs. Furthermore, utilizing our own R&D center, our engineers develop cutting-edge technologies to keep clients abreast of the latest trends.
                        //- ul
                        //-     li
                        //-         strong Bootstrap 4.6.0
                        //-     li jQuery 3.5.1
                        //-     li Font Awesome 5.15.3
                        //-     li Working PHP contact form with validation
                        //-     li Unstyled page elements for easy customization
                        //- p
                        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
                    .col-lg-6
                        img.img-fluid.rounded(src='assets/img/about/company-building.jpg', alt='...')

        hr.my-0

        // Call to Action
        aside.py-5.bg-light
            .container
                .row
                    .col-md-6
                        p
                        | Phone: +86 755 27889564
                        p
                        | Mobile phone: +86 18922872901
                        p
                        | Fax: +86 755 27889564
                    .col-md-6
                        p
                        | Website: https://www.gocampingday.com
                        p
                        | Email: sales@falcon-technology.cn
                        p
                        | Email: ellen@falcon-technology.cn
                    //- .col-md-4
                    //-     a.btn.btn-lg.btn-secondary.btn-block(href='#!') Call to Action

        // Footer
        include includes/footer.pug

        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Falcon 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
